<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Components</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Weekday selector</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Angular Components</span>
    </mat-toolbar>

    <!-- week-day-selector component examples -->
    <section>
      <h2>Week Day Selector Examples</h2>

      <mat-divider></mat-divider>
      <br>
      <p><b>Example 1:</b></p>
      <pre><code>{{code1}}</code></pre>
      <br>
        <week-day-selector></week-day-selector>
      <br>
      <mat-divider></mat-divider>
      <br>
      <p><b>Example 2:</b></p>
      <pre><code>{{code2}}</code></pre>
      <br>
      selected date: {{selDate.format('dddd, MMMM Do YYYY')}}
      <week-day-selector
        [(selectedDate)]="selDate"
        [weekOnTop]="true"
        [frameStyle]="{
          'border-radius': '50%',
          'background': 'linear-gradient(to right, #ff4e50, #f9d423)',
          'border': 'none'
        }">
      </week-day-selector>
      <br>
      <mat-divider></mat-divider>
      <br>
      <p><b>Example 3:</b></p>
      <pre><code>{{code3}}</code></pre>
      <br>
      <week-day-selector 
        [frameColor]="'#3f51b5'"
        [weekOnTop]="true"
        [showMonth]="false">
      </week-day-selector>
      <br>
      <mat-divider></mat-divider>
      <br>
      <p><b>Example 4:</b></p>
      <pre><code>{{code4}}</code></pre>
      <br>
      <week-day-selector 
        [weekOnTop]="true" 
        [frameColor]="'#333'"
        [showFrameSectionBottom]="true"
        [monthStyle]="{'font-size': '.3em'}"
        [monthStyleActive]="{'color': '#f2f2f2'}"
        [monthFormat]="'MMMM'"
        [frameSectionBottomStyle]="{'background-color': '#ee210a'}">
      </week-day-selector>
      <br>
      <mat-divider></mat-divider>
      <br>
      <p><b>Example 5:</b></p>
      <pre><code>{{code5}}</code></pre>
      <br>
      <week-day-selector
        [frameColor]="'#3f51b5'"
        [showArrows]="false"
        [showMonth]="false">
      </week-day-selector>
      <br>
    </section>
    <!-- #ee210a -->

  </mat-sidenav-content>
</mat-sidenav-container>


<!-- <mat-toolbar color="primary">
  <button mat-icon-button class="example-icon mat-focus-indicator mat-icon-button mat-button-base"
    aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span>{{title}}</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-sidenav-container class="example-container" style="height: 100%; padding: 12px;">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <mat-list>
      <mat-list-item> week-day-selector </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content style="padding: 12px;">
    <h2>Week Day Selector</h2>

    <br />
    <br />
    <week-day-selector></week-day-selector>

    <br />
    <mat-divider></mat-divider>
    <br />

    <week-day-selector [weekOnTop]="true" [altView]="true"></week-day-selector>


  </mat-sidenav-content>
</mat-sidenav-container> -->