.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  section {
      padding: 20px;
  }

  pre {
    background-color: cornsilk;
    padding: 1rem;
    overflow: auto;
    font-size: .8rem;
    color: #444;
    border: 1px solid beige;
  }
  