<app-examples></app-examples>

<!-- <mat-toolbar color="primary">
  <button mat-icon-button class="example-icon mat-focus-indicator mat-icon-button mat-button-base"
    aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span>{{title}}</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-sidenav-container class="example-container" style="height: 100%; padding: 12px;">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <mat-list>
      <mat-list-item> week-day-selector </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content style="padding: 12px;">
    <h2>Week Day Selector</h2>

    <br />
    <br />
    <week-day-selector></week-day-selector>

    <br />
    <mat-divider></mat-divider>
    <br />

    <week-day-selector [weekOnTop]="true" [altView]="true"></week-day-selector>


  </mat-sidenav-content>
</mat-sidenav-container> -->